ENCRYPTION_SECRET="" # Minimum of 32 characters and in base64.
LOOKUP_SECRET="" # Minimum of 32 characters.
BETTER_AUTH_SECRET="" # Minimum of 32 characters.
BETTER_AUTH_URL="http://localhost:1618" # The URL to the website hosting this application.
DATABASE_HOST="insight-database"
DATABASE_PORT=5432
DATABASE_DB="Insight"
DATABASE_USERNAME="dev_container"
DATABASE_PASSWORD="insight"
LOG_LEVEL="debug" # 'http' is recommended for production use. 
NODE_ENV="development" # Change to 'production' when not used in development.
