APP_SECRET=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:1618"
DATABASE_HOST="insight-database"
DATABASE_PORT=5432
DATABASE_DB="Insight"
DATABASE_USERNAME="dev_container"
DATABASE_PASSWORD="insight"
LOG_LEVEL="debug" # 'http' is recommended for production use. 
NODE_ENV="development" # Change to 'production' when not used in development.
