APPLICATION_SECRET="" # Minimum of 32 characters and in base64.
BETTER_AUTH_URL="http://localhost:1618" # The URL to the website hosting this application.
DATABASE_URL="postgres://dev_container:insight@insight-database:5432/Insight"
REDIS_URL="redis://insight-redis:6379" # Redis is optional.
LOG_LEVEL="debug" # 'http' is recommended for production use. 
NODE_ENV="development" # Change to 'production' when not used in development.
